@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

@import url(assets/css/reset.css);
@import url(assets/css/header.css);
@import url(assets/css/me.css);

:root { 
    --white: #fff;
    --black: #000; 
    --header-color: #201e1e; 
    --transition-color: #151515;
    --background-color: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    --standart-font: 'Roboto Slab', sans-serif; 
}

body { 
    background: var(--background-color);
    font-family: var(--standart-font);
    font-size: 18px;
    font-weight: 400;
    color: var(--white); 
}
